{% extends 'base.html' %}
{% load static %}

{% block page_header %}{{ project.type_name }}: {{ project }}{% endblock page_header %}

{% block main-ng-controller %}{% endblock main-ng-controller %}

{% block main %}
<div class="row">
    <div class="col-sm-12 push-15">
        <a href="{% url 'drupal:module-list' %}" class="btn btn-primary btn-sm" role="button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to Modules &amp; Themes
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">{{ project.type_name }} Info</div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ project.name }}</td>
                        </tr>
                        <tr>
                            <th>Slug</th>
                            <td>{{ project.slug }}</td>
                        </tr>
                        <tr>
                            <th>URL</th>
                            <td>{{ project.url|urlize }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ project.description }}</td>
                        </tr>
                        <tr>
                            <th>Date Updated</th>
                            <td>{{ project.date_posted }}</td>
                        </tr>
                        <tr>
                            <th>Custom</th>
                            <td>{{ project.custom }}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ project.type }}</td>
                        </tr>
                        <tr>
                            <th>Type name</th>
                            <td>{{ project.type_name }}</td>
                        </tr>
                        <tr>
                            <th>Maintenance Status</th>
                            <td>{{ project.maintenance_status }}</td>
                        </tr>
                        <tr>
                            <th>Development Status</th>
                            <td>{{ project.development_status }}</td>
                        </tr>
                        <tr>
                            <th>Sites using a vulnerable release</th>
                            <td>
                                {% if sites_vulnerable %}
                                <p><span class="label label-danger">{{ sites_vulnerable|length }} site{{ sites_vulnerable|length|pluralize }} using a vulnerable release</span><p/>
                                <ul>
                                    {% for drupalsite in sites_vulnerable %}
                                    <li><a href="{% url 'sites:site-detail' drupalsite.pk %}">{{ drupalsite }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <span class="label label-success">No sites using a vulnerable release</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Sites using this module</th>
                            <td>
                                {% if sites_using %}
                                <p><span class="label label-default">{{ sites_using|length }} site{{ sites_using|length|pluralize }} using this module</span><p/>
                                <ul>
                                    {% for drupalsite in sites_using %}
                                    <li><a href="{% url 'sites:site-detail' drupalsite.pk %}">{{ drupalsite }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <span class="label label-default">No sites using this module</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Releases</div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        {% for release in project.releases.all %}
                        <tr>
                            <td>
                                {% if release.advisories.all %}
                                    <p>{{ release }}</p>
                                    <ul>
                                        {% for advisory in release.advisories.all %}
                                        <li><a href="{% url 'drupal:advisory-detail' advisory.pk %}">{{ advisory }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {{ release }}
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr><td>No releases found</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
