# ARCHIMEDES CONFIGURATION
# This config file is used when running inside a vagrant box
# Full details are documented in /archimedes/configuration.py
# ========================

[django]
secret_key = fIbdRqH9ggA1wLdWLOo3lBkn6BkEqy4alP4L6O93BrQ1pNFi0XMv7wUzvT1A
debug = True
static_root = /usr/share/archimedes/static
allowed_hosts = *

# additional configuration files to read, split by newlines.
# (a configuration value can be multiline as long as each
# line starts with whitespace)
# configuration_files =

# Email address(es) to receive error reports
# admin_email =

[database]
name = vagrant
user = vagrant
host =
password =

[celery]
broker_url = redis://localhost:6379/1

[redis]
location = redis://localhost:6379/0

[archimedes]
# Set type of authentication to use: 'local' for local user accounts only,
# 'ldap' to use an LDAP server or 'saml' to connect to an IdP using SAML
authentication = <%= scope.function_hiera(['archimedes'])['authentication'] %>

reports_keyfile = <%= scope.function_hiera(['archimedes'])['reports_keyfile'] %>
# reports_keyfile_passphrase =

from_email = <%= scope.function_hiera(['archimedes'])['from_email'] %>
mailbox_uri = <%= scope.function_hiera(['archimedes'])['mailbox_uri'] %>

# If you need a web proxy to talk to the Drupal server or Sentry configure it here
[proxy]
http =
https =

[email]
server = <%= scope.function_hiera(['email'])['server'] %>
port = <%= scope.function_hiera(['email'])['port'] %>
host_user = <%= scope.function_hiera(['email'])['host_user'] %>
host_password = <%= scope.function_hiera(['email'])['host_password'] %>

[sentry]
dsn = <%= scope.function_hiera(['sentry'])['dsn'] %>

# Logging Configuration
# ---------------------

[loggers]
keys = root,django_db_backends,django_requests,raven

[logger_root]
level = NOTSET
handlers = stdout

[logger_django_db_backends]
## Set the 'level' to 'DEBUG' to log every SQL statement.
#level = DEBUG
level = INFO
qualname = django.db.backends
handlers =

[logger_django_requests]
level = INFO
qualname = django.request
handlers =
allowed_hosts = *

[logger_raven]
level = INFO
qualname = raven
handlers =

[handlers]
keys = stdout

[handler_stdout]
# Log everything to stdout
level = NOTSET
class = StreamHandler
formatter = default
args = (sys.stdout,)

[formatters]
keys = default

[formatter_default]
class = logging.Formatter
format = %(asctime)s %(name)-12s %(levelname)-8s %(message)s
datedfmt = %m-%d %H:%M:%S

# If LDAP is being used for authentication, configure the LDAP URI and settings here
[ldap]
# server URI should be of the format "ldap://hostname/" or "ldaps://hostname/"
server = <%= scope.function_hiera(['ldap'])['server'] %>
bind_dn = <%= scope.function_hiera(['ldap'])['bind_dn'] %>
bind_password = <%= scope.function_hiera(['ldap'])['bind_password'] %>

# example simple search DN "uid=%(user)s,ou=users,dc=example,dc=com"
search_dn = <%= scope.function_hiera(['ldap'])['search_dn'] %>

# Set to True if non-SSL LDAP connections use STARTTLS
ldap_starttls = <%= scope.function_hiera(['ldap'])['ldap_starttls'] %>

# If SAML is being used for authentication, configure the core settings here
[saml]
# Unique URL for this Archimedes instance. It does not need to point to
# a real webpage, however, this may be advantageous for the future
# e.g. http://archimedes.company.com/saml2/metadata
entityid = <%= scope.function_hiera(['saml'])['entityid'] %>

# Root URL for the server, used in metadata for IdP to connect to Archimedes
# Defaults to that specified in the entityid
root_url = <%= scope.function_hiera(['saml'])['root_url'] %>

# Optional list of required attributes that the IDP must provide for a successful authentication
# required_attributes =

# To workaround bugs in IdP implementations that do not correctly provide
# attributes in a standard format, set this variable to 'True' and it will
# rely on matching the primary_attribute value for the user identifier.
allow_unknown_attributes = <%= scope.function_hiera(['saml'])['allow_unknown_attributes'] %>

# If you have downloaded (or created) some attribute mail files, place theme
# into a directory which Archimedes will be able to read
# A good source is https://github.com/rohe/pysaml2/tree/master/example/attributemaps
# attribute_map_dir =

# Define the SAML user attributes
username = <%= scope.function_hiera(['saml'])['username'] %>
email = <%= scope.function_hiera(['saml'])['email'] %>
first_name = <%= scope.function_hiera(['saml'])['first_name'] %>
last_name = <%= scope.function_hiera(['saml'])['last_name'] %>

# How long is the generated metadata valid for (in hours)?
# Set to 0 for never expires
expires = <%= scope.function_hiera(['saml'])['expires'] %>

# File containing the metadata from the IdP (default = 'remote_metadata.xml')
remote_metadata_file = <%= scope.function_hiera(['saml'])['remote_metadata_file'] %>

# Define the public/private key files for cryptographic signing
key_file = <%= scope.function_hiera(['saml'])['key_file'] %>
cert_file = <%= scope.function_hiera(['saml'])['cert_file'] %>

# Optional, secondary public/private key files used cryptographic encryption
# If not specified, will use the above key file and cert file.
# enc_key_file =
# cert_key_file =

# Path to the xmlsec1 binary.
# xmlsec_binary = /usr/bin/xmlsec1

# This will often be the URL for the IdP's metadata, e.g.
# https://idp.company.com/simplesaml/saml2/idp/metadata.php
idp_entityid =
# Specify the binding URL for the IdP's single sign-on service
idp_sso =
# Specify the binding URL for the IdP's single logout service
idp_sls =

# Optional, define a SAML technical contact to be used in the meta-data
[saml-technical]
# company =
# name =
# surname =
# email =

# Optional, define a SAML administrative contact to be used in the meta-data
[saml-administrative]
# company =
# name =
# surname =
# email =
