{% extends "base.html" %}
{% load static %}

{% block page_header %}Login{% endblock page_header %}

{% block body %}
{# No style sheets for react frontend so temporarily styling this here. #}
<div style="background-color: rgb(30, 136, 229); margin-bottom: 100px">
  <h1 style="color: white;">Mataara Login</h1>
</div>
<div style="width: 50%; border: 2px solid rgb(30, 136, 229); margin: auto;">
  <div style="margin: 5em";>
    {% if form.errors %}
        <p style="color: red;">Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div class="row">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <table>
            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
            </tr>
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
          </table>

          <input type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
  </div>
</div>
{% endblock body %}
