{# Very simple place holder #}
{% load static %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %} ng-app="archimedes">

<head>
{% block head %}

    <title>{% block title %}Mataara{% endblock %}</title>

    {% block meta %}
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
    {% endblock meta %}

    {% block favicons %}
        <link rel="icon" href="{% static "favicon.ico" %}">
        <!--
        <link rel="apple-touch-icon" href="{% static "theme/img/apple-touch-icon-precomposed.png" %}">
        -->
    {% endblock favicons %}

{% endblock head %}
</head>

<body style="font-family: Roboto, sans-serif;">
{% block body %}

<div id="wrapper" class="">
</div>
{% endblock body %}
</body>
</html>
